services:
  backend:
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1

  ui:
    build:
      context: ../ui
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - backend
